{% extends "base.html" %}
{% from "_article_link.html" import article_link %}
{% block title %}{{ T.articles_title }}{% endblock %}
{% block desc %}{{ T.articles_lede }}{% endblock %}
{% block body %}
<section class="page-head">
  <h1>{{ T.articles_h1 }}</h1>
  <p class="lede">{{ T.articles_lede }}</p>
</section>
<ul class="article-list">
  {% for a in articles %}
  <li>
    {{ article_link(a, LB, T) }}
    {% if a.visited %}<span class="quiet">{{ T.article_visited.format(date=a.visited | fmt_ymd) }}</span>{% endif %}
    {% if a.summary %}<p>{{ a.summary }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
