{% extends "base.html" %}
{% from "_photo.html" import img %}
{% block title %}{{ T.filter_title }}{% endblock %}
{% block body %}
<section class="page-head">
  <h1>{{ T.filter_h1 }}</h1>
  <p class="lede">{{ T.filter_lede }}</p>
</section>
{% if AREA_PHOTO %}<figure class="photo photo-band">{{ img(AREA_PHOTO) }}<figcaption>{{ AREA_PHOTO.caption_t }}</figcaption></figure>{% endif %}

<form class="filter" id="filter" onsubmit="return false">
  <div class="filter-row">
    <label>{{ T.filter_date }}<input type="date" name="date" value="{{ TODAY }}"></label>
    <label>{{ T.filter_plan }}
      <select name="plan">
        <option value="two">{{ T.plan_two_meals }}</option>
        <option value="none">{{ T.plan_no_meal }}</option>
        <option value="tent">{{ T.plan_tent }}</option>
      </select>
    </label>
    <label>{{ T.filter_max }} <output id="price-out">{{ T.filter_any }}</output>
      <input type="range" name="price" min="8000" max="20000" step="500" value="20000">
    </label>
  </div>
  <div class="filter-row">
    <fieldset class="chips">
      <legend>{{ T.filter_area }}</legend>
      {% for a in areas %}
      <label class="chip"><input type="checkbox" name="area" value="{{ a.id }}" checked>{{ a.name }}</label>
      {% endfor %}
    </fieldset>
    <label class="check"><input type="checkbox" name="tents">{{ T.filter_tents }}</label>
  </div>
</form>

<p class="result-count" id="count" aria-live="polite"></p>
<ul class="hut-list" id="results"></ul>

<script id="hut-data" type="application/json" data-base="{{ LB }}"
        data-i18n='{"count":"{{ T.filter_count }}","none":"{{ T.filter_none }}","any":"{{ T.filter_any }}","tents":"{{ T.filter_tents_n }}","yearRound":"{{ T.filter_year_round }}","elevUnknown":"{{ T.elev_unknown }}","unknown":"{{ T.unknown }}","two":"{{ T.plan_two_meals }}","noMeal":"{{ T.plan_no_meal }}","tent":"{{ T.plan_tent }}"}'>{{ client_json | safe }}</script>
{% endblock %}
